#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Java Files
*.java
*.class

# Office Temp Files
~$*
/Lockjaw/img/references/KremlingRaceDK2.jpg
/Lockjaw/img/references/Kaptain_k_rool_1.jpg
/Lockjaw/img/references/Kaptain_k_rool.jpg
/Lockjaw/img/references/jungle_beat_12.jpg
/Lockjaw/img/references/Donkey_Kong.jpg
/Lockjaw/img/references/8805983034_3d8b4ec609_o.jpg
/Lockjaw/img/references/300px-Donkey_Kong_Artwork_(alt)_-_Donkey_Kong_Country_Tropical_Freeze.png
